<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>스터디올래</h2>
    </div>

    <footer th:replace="fragments.html :: footer"></footer>
</div>
<script type="application/javascript" th:fragment="form-validation">
    (function () {

    }())
</script>


</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>